<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Login and Registration</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>
    <div class="row">
        <div class="reg">
        <h1>Registration</h1>
            <form action="/register" method="post">
                <div class="input">
                    <label for'first_name'>First Name:</label>
                    <input type="text" name="first_name">
                    <% if (typeof errors != 'undefined') {%>
                        <% if (errors['first_name']) { %>
                            </br><em><%= errors['first_name'].message %></em>
                        <% } %>
                    <% } %>
                </div>
                <div class="input">
                    <label for'last_name'>Last Name:</label>
                    <input type="text" name="last_name">
                    <% if (typeof errors != 'undefined') {%>
                        <% if (errors['last_name']) { %>
                            </br><em><%= errors['last_name'].message %></em>
                        <% } %>
                    <% } %>
                </div>
                <div class="input">
                    <label for'email'>Email:</label>
                    <input type="text" name="email">
                    <% if (typeof errors != 'undefined') {%>
                        <% if (errors['email']) { %>
                            </br><em><%= errors['email'].message %></em>
                        <% } %>
                    <% } %>
                </div>
                <div class="input">
                    <label for'password'>Password:</label>
                    <input type="password" name="password">
                    <% if (typeof errors != 'undefined') {%>
                        <% if (errors['password']) { %>
                            </br><em><%= errors['password'].message %></em>
                        <% } %>
                    <% } %>
                </div>
                <div class="input">
                    <label for'confirm'>Confirm pw:</label>
                    <input type="password" name="confirm">
                    <% if (typeof errors != 'undefined') {%>
                        <% if (errors['confirm']) { %>
                            </br><em><%= errors['confirm'].message %></em>
                        <% } %>
                    <% } %>
                </div>
                
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h1>Login</h1>
            <form action="/authenticate" method="post">
                <div class="input">
                    <label for'email'>Email</label>
                    <input type="text" name="email">
                    <% if (typeof errors != 'undefined') {%>
                        <% if (errors['login_email']) { %>
                            </br><em><%= errors['login_email'].message %></em>
                        <% } %>
                    <% } %>
                </div>
                <div class="input">
                    <label for 'password'>Password</label>
                    <input type='password' name='password'><br/>
                    <% if (typeof errors != 'undefined') {%>
                        <% if (errors['login_password']) { %>
                            </br><em><%= errors['login_password'].message %></em>
                        <% } %>
                    <% } %>
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>